body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background-color: #3F3333;
    align-items: center;
    margin: 0px
}

nav h1 {
    color: white;
}

nav button {
    background-color: black;
    color: white;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 15px
}

#bookcase {
    width: 450px;
    height: auto;
    min-height: 1000px;
    padding: 10px;
    background-color: papayawhip;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: first baseline;
    border: 5px solid beige
}

.book {
    background-color: white;
    height: 170px;
    width: 130px;
    margin: 10px;
    box-shadow: 2px 2px gray;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        ". . . . remove"
        "title title title title title"
        "title title title title title"
        "author author author author author"
        "pages pages pages pages pages"
        "status status status status status"
}

.remove {
    grid-area: remove;
    background-color: red;
    border: none;
    color: white;
    border-radius: 8px;
}

.booktitle {
    grid-area: title;
    text-align: center;
}

.author {
    grid-area: author;
}

.pages {
    grid-area: pages;
}

.status {
    grid-area: status;
}

.read {
    box-shadow: 2px 2px gold;
}

.subinfo {
    font-size: 12px;
    text-align: center;
    align-self: center;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 500px;
    height: AUTO;
    background-color: white;
    border: 1px solid black;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    padding: 10px 10px;
}

input[type=text] {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
  }
  
input[type=number] {
width: 100%;
padding: 5px 20px;
margin: 8px 0;
}

input[type=submit]{
    display: block;
    width: 100%;
    margin: 20px 0 10px 0;
}

#modalclose {
    float: right;
    background-color: red;
    border: none;
    color: white;
    border-radius: 8px;
}